.game {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 75vh;
    border: 10px solid rgba($color: $secondary-color, $alpha: .1);
    border-radius: 5px;
    
    &__canvas {
        height: 75vh;
        width: 75vh;
        background: url(../assets/sprites/bg.jpg) no-repeat;
        background-size: cover;
    }

    &__canvas--play {
        background: url(../assets/sprites/bg.gif) no-repeat;
        background-size: cover;
        height: 75vh;
        width: 75vh;
    }

    &__lane {
        height: 90%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "l m r"
        ;
        justify-items: center;
        align-items: end;
    }

    
    &__controls {
        align-self: start;
        background: $secondary-color;
        display: flex;
        height: 75px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        font-size: 2rem;
        font-weight: weight(bolder);
        border-top: 10px solid rgba($color: $primary-color, $alpha: .1);

        .icon {
            display: flex;
            flex: 1;
            align-items: center;
            background: none;
            border: none;
            font-size: 2rem;
            justify-content: center;
            color: $text-color;
            @include transition-ease;

            svg {
                align-self: center;
                justify-self: center;
            }

            &:active {
                color: rgba($color: $primary-color, $alpha: .5);
                transform: scale(1);
                border: none;
                box-shadow: none;
                outline: none;
            }

            &:hover {
                color: rgba($color: $primary-color, $alpha: .5);
                transform: scale(1);
                border: none;
                box-shadow: none;
                outline: none;
            }
            
            &:focus {
                transform: scale(1);
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }
}

.carro {
    display: block;
    height: 150px;
    width: 160px;
    background: url('../assets/sprites/b-b.png') no-repeat 0 0;
    background-size: cover;
    justify-self: center;
    grid-area: m;
    
    &__r {
        display: block;
        height: 150px;
        width: 200px;
        background: url('../assets/sprites/b-rq.png') no-repeat 0 0;
        background-size: cover;
        justify-self: flex-end;
        grid-area: r;
    }
    
    &__l {
        display: block;
        height: 150px;
        width: 200px;
        background: url('../assets/sprites/b-lq.png') no-repeat 0 0;
        background-size: cover;
        justify-self: start;
        grid-area: l;
    }

    .blow {
        display: block;
        height: 150px;
        width: 200px;
        background: url('../assets/sprites/Explosion.png') no-repeat 0 0 !important;
        background-size: cover;
        justify-self: center;
        grid-area: m;
    }
}

.tremer {
    @include tremer;
}

.newBtn {
    display: block;
    padding: 1rem;
    font-size: 2rem;
    color: $primary-color;
}