.game {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: fit-content;
    width: 380px;
    border: 10px solid rgba($color: $secondary-color, $alpha: .1);
    border-radius: 5px;
    
    &__canvas {
        height: 380px;
        width: 380px;
        background: url(../assets/sprites/bg.jpg) no-repeat;
        background-size: cover;
        overflow: hidden;
    }

    &__canvas--play {
        background: url(../assets/sprites/bg.gif) no-repeat;
        background-size: cover;
        height: 380px;
        width: 380px;
        overflow: hidden;
    }

    &__lane {
        height: 75%;
        align-self: flex-end;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "l m r"
        ;
        justify-items: center;
        align-items: end;
    }

    &__name {
        font-size: 2rem;
        font-weight: weight(bold);
    }

    
    &__controls {
        align-self: start;
        background: $secondary-color;
        display: flex;
        height: 75px;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        font-size: 2rem;
        font-weight: weight(bolder);
        border-top: 10px solid rgba($color: $primary-color, $alpha: .1);

        .icon {
            display: flex;
            flex: 1;
            align-items: center;
            background: none;
            border: none;
            font-size: 2rem;
            justify-content: center;
            color: $text-color;
            @include transition-ease;

            svg {
                align-self: center;
                justify-self: center;
            }

            &:active {
                color: rgba($color: $primary-color, $alpha: .5);
                transform: scale(1);
                border: none;
                box-shadow: none;
                outline: none;
            }

            &:hover {
                color: rgba($color: $primary-color, $alpha: .5);
                transform: scale(1);
                border: none;
                box-shadow: none;
                outline: none;
            }
            
            &:focus {
                transform: scale(1);
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }
}

.go {
    display: block;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    color: $text-color;
    background: $secondary-color;
    border: 1px solid $text-color;
    border-radius: 0.5rem;

    &-hide {
        display: none;
    }
}


@include media-md {
    .game {
        width: 75vh;

        &__canvas {
            height: 75vh;
            width: 75vh;

            &--play {
                height: 75vh;
                width: 75vh;
            }
        }
    }
}