.hud {
    flex: 1;
    color: $primary-color;
    font-size: 2rem;
    padding: 1rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-self: center;
    position: relative;
    color: $text-color;
    font-weight: weight(bold);

    &__count {
        justify-self: center;
    }

    .hidden {
        visibility: hidden;
        background: none !important;
    }

    &__name {
        font-size: 2rem;
        margin-right: 5%;
        font-weight: weight(bold);
        text-transform: uppercase;
    }
}