.menu {
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    color: $text-color;
    grid-template-areas: 
    ". upnid ."
    ". title ."
    ". name ."
    ;

    &__upper {
        grid-area: upnid;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        .upnid {
            justify-self: center;
            display: block;
            height: auto;
            width: 200px;
            height: 60px;
            background: url('../assets/upnid.svg') no-repeat 0 0;
            background-size: cover;

            animation: upnid 2s alternate;
                @keyframes upnid {
                0% { transform: scale(.9); }
                100% { transform: scale(1); }
            }
        }
    }

    

    &__title {
        grid-area: title;
        font-size: 3rem;
        font-weight: weight(bolder);
        align-self: flex-start;
        justify-self: center;
        transition: all 10s ease-in-out;

        animation: str 2s alternate;
        @keyframes str {
            0% { font-size: 2.7rem; }
            50% { font-size: 2.7rem; }
            100% { font-size: 3rem; }
        }

        span {
            color: $secondary-color;
        }
    }

    &__name {
        grid-area: name;
        justify-self: center;
        display: flex;
        padding: 1rem;
        flex-direction: column;
        justify-items: start;
        text-align: center;

        h2 {
            font-size: 1.15rem;
            font-weight: weight(medium);
        }

        input {
            margin: 1rem;
            width: 50vw;
            border-radius: 5px;
            background: none;
            padding: 8px;
            border: 2px solid rgba($color: $text-color, $alpha: .5);
            text-align: center;
            text-transform: uppercase;
            font-weight: weight(bolder);
            color: $text-color;
            font-size: 1.5rem;

        }
    }

    .start {
        background: none;
        border: none;
        font-size: 1.5rem;
        font-weight: weight(bold);
        color: $text-color;
        justify-self: center;
    }
}