$primary-color: black;
$secondary-color: #3b86ff;
$text-color: white;
$text-color--dk: #354868;
$font-weight:(
    "regular": 400,
    "medium": 600,
    "bold": 700,
    "bolder": 900,
);

@function weight($weightname) {
    @return map-get($font-weight, $weightname );
};

@mixin tremer {
    animation: mover 110ms infinite  alternate;
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-2px); }
    }
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content; 
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content; 
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content; 
    }
}