@import 'resets';
@import 'config';
@import 'components';

html {
    overflow-x: hidden;

    body {
        overflow-x: hidden;
        font-family: "Nunito Sans", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
        height: 100%;
        width: 100%;
    }
}

main {
    background: $primary-color;
    color: $text-color;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}